.container {
    width: 100%;
    max-width: 1200px; 
    background-color: white;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

.table {
    background-color: white;
}

body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

